<!DOCTYPE html>
<html lang="en">
<head>

    <title>Criar Sala - Rocket.Q</title>
    
    <!-- View Port, Charset e Compatibilidade com Edge-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
    
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap" rel="stylesheet">

</head>
<body>

    <div id="home" class="content">

        <header>
            <a href="/">
                <img src="./assets/logo.svg" alt = "Rocket.Q Logo" />
            </a>
        </header>
        
        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>
       
        <main>
            <div class="container">
                <% if (mensagem) { %>
                    <%- include('parts/no-room') %>
                <% } %>                        
                <%- include(`parts/${page}`) %>
            </div>
        </main>

        <!--  MODAL  -->

        <div class="modal-wrapper">
            <div class="modal">
                
                <h2>Sala não existe</h2>
                <p>Digite o código de uma sala existente</p>

                <div class="buttons">
                    <div class="button dismiss">OK</div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>